html,
body {
  height: 100%;

  flex-direction: column!important;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0px;
  padding-top: 40px;
}

#page-content {
  flex: 1 0 auto;
  position: relative;
}

.content-custom{
  flex-direction: column!important;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    padding-top: 40px;
}

#message{
  box-shadow: 0 0 5px #82828296;
  border: 0;
}

.jumbotron{
  box-shadow: 0 -8px 21px #ececec5c;
}

#messages .row{
  padding: 0 !important;
  margin: initial;
}

button[data-action-btn]{
  top: 0;
  bottom: 0;
  right: 0;
  width: 90px;
  color: #5a5a5a;
}

#emoji-group{
  bottom: 0;
  right: 80px;
}

.fa-paper-plane{
  font-size: 1.5rem;
  transform: translateY(10px);
}

.send-text{
  font-size: 0.8rem;
}

textarea.form-control {
  padding-right: 95px;
}

section.two{
  flex-basis: 100%;
}

[data-msg-author]{
  font-weight: 600;
  color: #2461af;
  font-size: 1.4rem;
}

p[data-msg-content]{
  font-size: 1.2rem;
  color: #4e4e4e;;
}

.day span{
  z-index: 2;
  color: rgba(0, 0, 0, 0.6);
}
.small{
  font-size: 60%;
  padding-left: 10px;
}

#name{
  box-shadow: 0 0 5px #82828296;

}

#name.no-empty{
  background: none;
  border: 0;
  font-weight: 600;
  font-size: 1.1rem;
  text-decoration: underline;
  box-shadow: none;
}

#name.no-empty:focus{
  background: white;
  border: 1px solid #ced4da;
  font-weight: unset;
  font-size: 1rem;
  text-decoration: none;
}

#emoji-menu > div{
  line-height: 2.2rem;
}
#emoji-menu button{
  font-size: 1.3rem;
}

#sticky-footer {
  flex-shrink: none;
}

.nav-link.active{
  background: #80a7bf4f;
  font-weight: 400;
  border-radius: .3rem;
}