html,
body {
  height: 100%;

  flex-direction: column!important;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0px;
  padding-top: 40px;
}

#page-content {
  flex: 1 0 auto;
  position: relative;
}

.content-custom{
  flex-direction: column!important;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    padding-top: 40px;
}

#messages .row{
  padding: 0 !important;
  margin: initial;
}

button[data-action-btn]{
  top: 0;
  bottom: 0;
  right: 0;
}

textarea.form-control {
  padding-right: 95px;
}

section.two{
  flex-basis: 100%;
}

[data-msg-author]{
  font-weight: 600;
  color: #2461af;
}

.day span{
  z-index: 2;
  color: rgba(0, 0, 0, 0.6);
}
.small{
  font-size: 60%;
  padding-left: 10px;
}

[data-msg-author],[data-msg-content]{
  word-break: break-all;
}

#sticky-footer {
  flex-shrink: none;
}

.nav-link.active{
  background: #80a7bf4f;
  font-weight: 400;
  border-radius: .3rem;
}