<% include ./templates/head.ejs %>
<div class="container">
  <div class="d-flex flex-column content-custom">

  <section class="d-none d-md-block">
    <h1 class="text-center">Messages</h1>
  </section>

  <section class="two d-flex overflow-auto">
    <div class="w-100  mt-auto" id="messages"></div>
  </section>

  <section >
    <div class="jumbotron m-0 py-0 py-md-4 px-0 px-md-3 pt-3">
        <input id="name" aria-label="name" class="form-control" placeholder="Nom">

        <div class="position-relative">
          <textarea aria-label="message" id="message" class="form-control" placeholder="Votre message ici"></textarea>
          <button data-action-btn onkeydown="" id="send" class="btn btn-success position-absolute">Envoyer</button>
        </div>

    </div>
  </section>

</div>
  
</div>
<% include ./templates/footer.ejs %>